:root{
    --primary-font-family:'Roboto',sans-serif;
    --secondary-font-family:'Raleway',sans-serif;
    --primary-color:#2E2F42;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
    width: 100%;
    height: auto;
}


body{
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: var(--primary-color)
}


/* xxxxxxxxxxxxxxRESETSxxxxxxxxxxxx */


.text-for-hone {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.text-for-htwo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.text-for-htree {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.02em;

    color: #434455;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;

    color: var(--primary-color);
}

.img{
    display: block;
    max-width: 100%;
    height: auto;
}


/* xxxxxxxxxxxxxxxxWEBSTUDIO-PAGExxxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxxxCONTEINERSxxxxxxxxxxxxxxx */


.conteiner {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    outline: 2px dashed red;
}



/* xxxxxxxxxxxxxxxxNAVIGATION-MENUxxxxxxxxxxxxxxx */


.page-header>.conteiner{
    display: flex;
    align-items: center;
}

.page-header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.link:hover {
    color: #404BBF;
}

.logo{
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4D5AE5;
}

.logo-span {
    color: var(--primary-color);
}

.menu-list{
    display: flex;
    margin: 0;
    gap: 40px;
}

.address{
    margin-left: auto;
}

.contacts-menu {
    display: flex;
    gap: 40px;
}

.contacts-menu-link{
    text-decoration: none;
    font-style: normal;

    color: var(--primary-color);
}

.menu-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-menu-link{
    padding-top: 24px;
    padding-bottom: 24px;
} 

.contacts-menu-link:hover{
    color: #404BBF;
}


/* xxxxxxxxxxxxxxxxxxxxxHERO-TITLExxxxxxxxxxxxxxxx */


.hero {
    background-color:  var(--primary-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    max-width: 498px;
    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;
}

.button{
    font-style: normal;
    border: none;
}

.order-button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;
    background-color: #4D5AE5;
}

.button:hover{
    cursor: pointer;
    background: #404BBF;
}


/* xxxxxxxxxxxxxxxxxADVENSERSxxxxxxxxxxxxxxxx */


.advensers{
    padding-top: 120px;
    padding-bottom: 120px;
}

.advensers-list{
    display: flex;
    gap: 24px
}

.advensers-list-item {
    width: calc ((100% - 72px) /4);
}


.advensers-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* xxxxxxxxxxxxxxxxOUR-WORKxxxxxxxxxxxxxxxx */


.our-work{
    padding-bottom: 120px;
    text-align: center;
}

.our-work-item-title{
    margin-bottom: 72px;
}

.our-work-list{
    display: flex;
    gap: 24px;
}


/* xxxxxxxxxxxxxxxxOUR-TEAMxxxxxxxxxxxxxxxx */


.our-team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.our-team-item-title{
    margin-bottom: 72px;
}

.our-team-list{
    display: flex;
    gap: 24px;
}

.our-team-list-item{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-item-photo{
    padding-bottom: 32px;
}

.our-team-item-name{
    padding-bottom: 8px;
}

.our-team-item-job{
    padding-bottom: 32px;
}


/* xxxxxxxxxxxxxxxxxxFOOTERxxxxxxxxxxxxxx */


.footer {
    background-color: #2E2F42;
    height: 310px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-left-part{
    max-width: 264px;
}

.logo-footer-span {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.15;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.02em;
    padding-top: 16px;

    color: #E7E9FC;
}


/* xxxxxxxxxxxxxxxxxxxxPORTFOLIO-PAGExxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxxxxxBUTTONSxxxxxxxxxxxxxxxxxxxx */


.filter-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;

    color:#4D5AE5;
    background-color:#F4F4FD;
}

.filter-button:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}


/* xxxxxxxxxxxxxxxxxxxOUR-PROJECTSxxxxxxxxxxxxxxxxxx */


.our-projects{
    text-align: center;
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-button-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.our-projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.our-projects-item{
    width: calc((100% - 48px) / 3);
    /* flex-basis: 250px; */
    flex-grow: 1;
}

.our-projects-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.our-projects-photo{
}

.our-projects-item-text{
    border-right: 1px solid #E7E9FC;
    border-left:1px solid #E7E9FC; ;
    border-bottom:1px solid #E7E9FC; ;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: left;
}

.our-projects-name{
    margin-bottom: 8px;
}

.our-projects-prupose{
}