<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsMwEPyXPVuRU0ppfUNwoBcqgQQHxGGbbBIjPyJ701JV/Xcct6l64LaandmdmSNY
	YqyREdQRLEam8EK67RhU+bCaiQv2qWvuQC1nSwE+aHKMrL1LpJOAxgeL/EEhniEBu/O8
	do0f724HberXwW4pgIJy+bwoQQD2/VUDd3eykEV5L9MiVh1ZfKOdPi+lgN4gj28SU2/e
	IT3F+meIbJOTCOrr+I8Jcrg1VIPiMFC6SszatXE0dMB9PpuitNqheQq+B9WgiYn4u8lo
	JkSLga+b/aUFORdwmFizxSrxOODYGrlH1xrKWhzYX6XdVKqcJ3rlXVY4nsqWt+Cl7TG3
	5mqcUmBdp6y60bnDbHhqfn27qbwtUrOGir7zycDp+/QH
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.6</string>
	<key>adjustmentTimestamp</key>
	<date>2022-11-26T18:19:53Z</date>
</dict>
</plist>
