<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlacklistedMeaningsByMeaning</key>
	<dict/>
	<key>SceneWhitelist</key>
	<array>
		<string>випускний</string>
		<string>акваріум</string>
		<string>їжа</string>
		<string>катання на льоду</string>
		<string>гора</string>
		<string>стрімчак</string>
		<string>баскетбол</string>
		<string>теніс</string>
		<string>ювелірні вироби</string>
		<string>сир</string>
		<string>софтбол</string>
		<string>мʼяч для американського футболу</string>
		<string>цирк</string>
		<string>гідроцикл</string>
		<string>ігровий майданчик</string>
		<string>карусель</string>
		<string>пейнтбол</string>
		<string>віндсерфінг</string>
		<string>вітрильник</string>
		<string>сонячні ванни</string>
		<string>дамба</string>
		<string>вогнище</string>
		<string>квітка</string>
		<string>акваланг</string>
		<string>Мандри</string>
		<string>китоподібна</string>
		<string>пірс</string>
		<string>боулінг</string>
		<string>сноубординг</string>
		<string>зоопарк</string>
		<string>аеросани</string>
		<string>театр</string>
		<string>човен</string>
		<string>казино</string>
		<string>автомобіль</string>
		<string>дайвінг</string>
		<string>велоспорт</string>
		<string>музичний інструмент</string>
		<string>настільна гра</string>
		<string>замок</string>
		<string>схід/захід сонця</string>
		<string>бойові мистецтва</string>
		<string>мотокрос</string>
		<string>підводний човен</string>
		<string>кіт</string>
		<string>сніг</string>
		<string>кайтбординг</string>
		<string>сквош</string>
		<string>гейзер</string>
		<string>музика</string>
		<string>стрільба з лука</string>
		<string>пустеля</string>
		<string>блекджек</string>
		<string>феєрверк</string>
		<string>спортивна машина</string>
		<string>котячі</string>
		<string>футбол</string>
		<string>музей</string>
		<string>немовля</string>
		<string>фехтування</string>
		<string>залізниця</string>
		<string>Наскар</string>
		<string>скайсерфінг</string>
		<string>птах</string>
		<string>ігри</string>
		<string>бейсбол</string>
		<string>виїздка</string>
		<string>пірнання з трубкою</string>
		<string>піраміда</string>
		<string>повітряний змій</string>
		<string>шлюпка</string>
		<string>гольф</string>
		<string>водний спорт</string>
		<string>блискавка</string>
		<string>каньйон</string>
		<string>аудиторія</string>
		<string>нічне небо</string>
		<string>караоке</string>
		<string>лижний спорт</string>
		<string>парад</string>
		<string>ліс</string>
		<string>повітряна куля</string>
		<string>парад драконів</string>
		<string>писанка</string>
		<string>монумент</string>
		<string>джунглі</string>
		<string>День подяки</string>
		<string>кінь для перегонів</string>
		<string>стадіон</string>
		<string>літак</string>
		<string>балет</string>
		<string>йога</string>
		<string>кораловий риф</string>
		<string>ковзанярський спорт</string>
		<string>боротьба</string>
		<string>велосипед</string>
		<string>тату</string>
		<string>парк розваг</string>
		<string>каное</string>
		<string>чирлідинг</string>
		<string>пінг-понг</string>
		<string>рибальство</string>
		<string>магія</string>
		<string>рептилії</string>
		<string>зимовий вид спорту</string>
		<string>водоспад</string>
		<string>потяг</string>
		<string>бонсай</string>
		<string>серфінг</string>
		<string>собака</string>
		<string>тістечко</string>
		<string>катання на санях</string>
		<string>піщаний замок</string>
		<string>льодовик</string>
		<string>маяк</string>
		<string>вершник</string>
		<string>рафтинг</string>
		<string>берег</string>
		<string>хокей</string>
		<string>Санта Клауз</string>
		<string>болід формули один</string>
		<string>спорт</string>
		<string>транспортний засіб</string>
		<string>бокс</string>
		<string>роликовий спорт</string>
		<string>Підводний світ</string>
		<string>оркестр</string>
		<string>карнавал</string>
		<string>ракета</string>
		<string>скейтбординг</string>
		<string>гелікоптер</string>
		<string>вистава</string>
		<string>Октоберфест</string>
		<string>ватерполо</string>
		<string>скейт-парк</string>
		<string>тварина</string>
		<string>нічний клуб</string>
		<string>струнний інструмент</string>
		<string>динозавр</string>
		<string>гімнастика</string>
		<string>крикет</string>
		<string>вулкан</string>
		<string>озеро</string>
		<string>полярне сяйво</string>
		<string>танці</string>
		<string>концерт</string>
		<string>скелелазіння</string>
		<string>аероплан</string>
		<string>родео</string>
		<string>риба</string>
		<string>мистецтво</string>
		<string>мотоцикл</string>
		<string>волейбол</string>
		<string>вейкбординг</string>
		<string>бадмінтон</string>
		<string>мотоспорт</string>
		<string>сумо</string>
		<string>параплан</string>
		<string>стрибки з парашутом</string>
		<string>кікбоксинг</string>
		<string>пін’ята</string>
		<string>фусбол</string>
		<string>карт</string>
		<string>покер</string>
		<string>каяк</string>
		<string>плавання</string>
		<string>квадроцикл</string>
		<string>Пляж</string>
		<string>мішень для дартс</string>
		<string>атлетика</string>
		<string>кемпінг</string>
		<string>торнадо</string>
		<string>більярд</string>
		<string>регбі</string>
		<string>авіашоу</string>
	</array>
</dict>
</plist>
