<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PHAAssetRevGeocodeEnrichmentTask</key>
	<date>2023-03-09T08:28:50Z</date>
	<key>PHACachingCPAnalyticsPropertiesTask</key>
	<date>2023-03-09T01:28:30Z</date>
	<key>PHAGraphConsistencyTask</key>
	<date>2023-03-09T08:28:50Z</date>
	<key>PHAGraphRebuildTask</key>
	<date>2023-03-09T01:28:16Z</date>
	<key>PHAHighlightCollectionEnrichmentTask</key>
	<date>2023-03-09T07:28:42Z</date>
	<key>PHAHighlightEnrichmentTask</key>
	<date>2023-03-09T07:28:41Z</date>
	<key>PHAMediaSampleReportingTask</key>
	<date>2023-03-09T01:28:30Z</date>
	<key>PHAMemoriesEnrichmentTask</key>
	<date>2023-03-09T01:28:30Z</date>
	<key>PHAMemoryElectionTask</key>
	<date>2023-03-09T01:28:23Z</date>
	<key>PHAPeopleSuggestionEnrichmentTask</key>
	<date>2023-03-09T01:28:16Z</date>
	<key>PHAPortraitDonationEnrichmentTask</key>
	<date>2023-03-09T01:28:30Z</date>
	<key>PHASearchEnrichmentTask</key>
	<date>2023-03-09T07:28:44Z</date>
	<key>PHASuggestionGenerationTask</key>
	<date>2023-03-09T01:28:28Z</date>
	<key>PHASyndicationTask</key>
	<date>2023-03-09T07:28:42Z</date>
	<key>PHAUserBehaviorEnrichmentTask</key>
	<date>2023-03-09T01:28:30Z</date>
	<key>PHAWeeklyHighlightEnrichmentTask</key>
	<date>2023-03-09T01:28:36Z</date>
</dict>
</plist>
