<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn5coiSra7g240AuVQIID4uAmTrJoH9Gu01JV/XectKk4cLPGM/bMnMAR
	Y42MoE/gMDHFZzJtx6CL5bpUV+zD1NyBXpUrBSEa8oxsghfSWUETokN+p5gukIL9Zd74
	Jox3d4Ox9cvgdhRBQ7F+XC5AAfb9TQOLoszyrChzWaSqI4evtDeXZa6gt8jjG2Ga7RvI
	U6y/h8ROnCTQn6d/TJDHnaUaNMeB5CoxG9+m0dARD9NZidIaj/Yphh50gzYJ8Wc7oRMh
	OYx82xzmFpYKjjOryFcjkSOOtZF/8K0l0HcC4sDhJu6utd7noq6CnxSe57bzv+C17jG4
	4WqcJLGpJaxpzFTi5HiufvN3UwWXSbWWsr4L8v/8df4F
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-11-26T18:19:46Z</date>
</dict>
</plist>
