<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBBboNADPyLzxQBaRqyt6qX5NJIrdQeqh4cMLAVu4t2TdIoyt9rIEQ59GaNx+OZOYMh
	xhIZQZ3BYGDyG9J1w6DS1TqLrtinLrkBlWd5BM5rsoysnRXSJYLKeYP8QT5MUASHad7a
	yg26+1635Wtv9uRBQZpv0mQFEWDX3Y5g8ZTFSZwmiSxC0ZDBNzroaZlE0LXIwx9h6t07
	yFcsf/rARqwEUF/nf1yQxX1LJSj2PYkqMWtbh8HRCY+jrGSptcX2xbsOVIVtEOLvbkRF
	YyEqwaDn2+44FbFcriI4zbzHfC089jgUR/bZ1i2BehB97Nndbpu52CQTfuHseGJ5Ljy5
	B6+ND9E1F8MkmXUpcXWlxx5Hz3P72/tN4Uws5bYUd40TA5fvyx8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-11-26T18:19:53Z</date>
</dict>
</plist>
