<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>1</integer>
	<key>adjustmentData</key>
	<data>
	bVA9T8NADP0vnkOURBWU24CFLlQCCQbE4CZOYnQf0Z3TUlX971yuJcrAZr0P+/mdwJBg
	g4KgTmAwCPln4q4XULdVmV2hD26kB7Wu1hk4z2QFhZ2NyDmD1nmD8k4+JCia9pd5Y1s3
	rd2NrJuX0ezIg4Ly/vFuBRngMMweWJVVXuRlVUQi1D0ZfKU9X8gig0GjTGeikrdvEI9i
	8z0GMTFJAPV5+icEWdxpakC1qAPFtSTCtgtToiMe0t74S8cW9ZN3wyz82SY0CYJBLzNz
	WNRwXKrE49QZ2QfbaQJ1E0Ecxc3Oftlp7WxyWPmruliC17Knt1nqaYr/chNf5ZZThSnu
	X/GbJVM7k8diNeVD7+L989f5Fw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2023-02-14T10:47:57Z</date>
</dict>
</plist>
